<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>FSM View</title>
   

    <script src="libs/jquery-2.2.4.min.js"></script>
    <script src="libs/svg-pan-zoom.min.js"></script>
    <script src="libs/viz.js"></script>
    <script src="libs/full.render.js"></script>
    
    <%- embededScript %>
    
    <script src="libs/vizdraw.js"></script>
    
    <link rel="stylesheet" href="fsm.css" type="text/css" />
    <style type="text/css">
        body {
            
        }
        svg{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            

        }

    </style>
</head>

<body>
    <div id="error-info" class="trontron"><div id="inner" class="fuck"></div></div>
</body>

</html>